header h1 {
    text-align: left;
}

header {
    justify-items: left;
    overflow: auto;
    background-color: aqua;
}

header img {
    float: left;
    display: block;
    width: 10%;
    margin-left: 15px;
    margin-right: auto;

}

.centered{
    text-align: center;
}

.parent-container{
    display:flex;
    overflow: auto;
    flex-direction: row;
}

.parent-container img{
    float: left;
    min-width: 30%;
}

.flex-container{
    margin-inline: 30px;
}

.info-text{
    max-width: 60%;
}

.flex-container .download{
    max-height: 10%;
    max-width: 1%;
}

@media only screen and (min-width: 999px){
    .flex-container {
        flex-direction: row;
    }
}


@media only screen and (max-width: 998px) and (min-width: 400px) {
    header {
        justify-content: center;
    }
    header img{
        min-width: 20%;
    }
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        max-width: 100%;
    }

    .parent-container {
        flex-direction: column;
    }

}

@media only screen and (max-width: 399px){
    header {
        flex-direction: row;
        align-items: center;
    }

    header img{
        min-width: 20%;
    }


    .flex-container{
        flex-basis: auto;
        flex-direction: column;
    }

    .flex-container{
        max-width: 70%;
    }

    .parent-container{
        flex-direction: column;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsalmon;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}